<div class="container">
  <%= form_for @trip, html: { multipart: true } do |form| %>
    <% if @trip.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>
        <ul>
          <% @trip.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <div class="field">
    <%= form.text_field :place, class: 'form-control', :placeholder  => "Where" %>
  </div><br>
  <div class="field">
    <%= form.date_field :startdate, class: 'form-control', :placeholder => "Start Date" %>
  </div><br>
    <div class="field">
    <%= form.date_field :enddate, class: 'form-control', :placeholder => "End Date" %>
  </div><br>
  <div class="field">
    <%= form.text_area :about, class: 'form-control', :placeholder  => "About the trip" %>
  </div><br>
  <div class="field">
    <%= form.file_field :image %><br><br>
  </div>

  <% if @trip.id %>
    <div class="actions"><%= form.submit "Update Trip", class: "btn btn-default" %></div>
  <% else %>
    <div class="actions"><%= form.submit "Create Trip", class: "btn btn-default" %></div>
  <% end %><br>

<% end %>
