<div class="jumbotron container-fluid" style="background-image: url(<%= @trip.image.url %>)"><br><br><br><br><br><br><br><br><br>
	<div style="color: white">
		<h1><%= @trip.place.upcase %></h1><br><br><br><br>
		<p>
			<%= @trip.startdate.strftime('%d %b') %> - <%= @trip.enddate.strftime('%d %b %Y') %><br><br>
			<%= @trip.about %><br><br><br><br><br>
		</p>
		<a><%= link_to "Update Trip", edit_trip_path %> |
	  <%= link_to "Invite Crew Members", new_trip_invite_path(@trip) %></a>
	</div>

</div>

<h3>Announcements</h3>

<% if @trip.announcements.empty? %>
	<p>This trip currently has no announcements</p>
<% else %>
	<% @trip.announcements.each do |announcement| %>
		<div class="panel panel-info">
		  <div class="panel-heading">
		  	<div class="panel-title pull-left"><strong><%= link_to "#{announcement.user.name}", announcement_path(announcement) %></strong></div>
				<div class="panel-title pull-right"><%= announcement.updated_at.localtime.strftime('%d %b %Y at %l:%M:%S')%></div>
			</div>
			<div class="panel-body">
			<%= announcement.content %>
			</div>
		</div>
	<% end %>
<% end %>

<%= link_to "Create Announcement", new_trip_announcement_path(@trip) %>

<hr>


<h3>Posts</h3>

<% if @trip.posts.empty? %>
	<p>This trip currently has no posts</p>
<% else %>
	<% @trip.posts.each do |post| %>
		<div class="panel panel-info">
		  <div class="panel-heading">
		  	<div class="panel-title pull-left"><strong><%= link_to "#{post.user.name}", post_path(post) %></strong></div>
				<div class="panel-title pull-right"><%= post.updated_at.localtime.strftime('%d %b %Y at %l:%M:%S')%></div>
			</div>
			<div class="panel-body">
				<% if post.image.exists? %>
					<div class="pull-left col-md-6">
						<%= image_tag post.image.url, :class => 'img-responsive img-size' %>
					</div>
					<div class="post-content pull-right col-md-6">
						<%= post.content %>
					</div>
				<% else %>
		    	<%= post.content %>
	    	<% end %>
		  </div>
		  <div class="panel-footer">
				<span> <%= post.likes.count %> likes </span>&nbsp;&nbsp;&nbsp;
		  	<% if current_user.like?(post.id) %>
					<%= link_to "", unlike_path(post), class: "glyphicon glyphicon-thumbs-down" %>  
				<% else %>
					<%= link_to "", like_path(post), class: "glyphicon glyphicon-thumbs-up" %>  
				<% end %>
		  </div>
		</div><br>
	<% end %>
<% end %>

<%= link_to "Create Post", new_trip_post_path(@trip) %><br><br>


