<div class="container">
  <%= form_for [@trip, @announcement] do |f| %>
    <% if @announcement.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>

        <ul>
        <% @announcement.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>CONTENT</strong>
      </div>
      <%= f.text_area :content, size:"5x5", :class => "form-control", :required => true %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div><br>

    <% if @announcement.id %>
      <div class="actions"><%= f.submit  "Update Announcement", class: "btn btn-default"%></div>
    <% else %>
      <div class="actions links-on-bottom"><%= f.submit  "Add Announcement", class: "btn btn-info"%></div>
    <% end %><br>

  <% end %>
</div>