<div class="container"
	<p id="notice"><%= notice %></p>

	<div class="panel panel-info">
		<div class="panel-heading">
	  <div class="panel-title pull-left"><strong><%= @announcement.user.name %></strong></div>
	  <div class="panel-title pull-right"><%= @announcement.updated_at.localtime.strftime('%d %b %Y at %l:%M:%S')%></div>
	</div>
  <div class="panel-body">
    <%= @announcement.content %>
  </div>
		<% if @announcement.user == current_user %>
	  	<div class="panel-footer">
				<div class="panel-bottom pull-right"> 
					<%= link_to "", edit_announcement_path(@announcement), class: "glyphicon glyphicon-pencil" %>&nbsp;  | &nbsp;
					<%= link_to "", announcement_path, class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: "Are you sure you want to delete this post?"} %>
			  </div>
			</div><br>
  	<% end %>

</div>

