<div class="container"
<p id="notice"><%= notice %></p>

		<div class="panel panel-info">
		<div class="panel-heading">
		  <div class="panel-title pull-left"><strong><%= @announcement.user.name %></strong></div>
		  <div class="panel-title pull-right"><%= @announcement.updated_at.localtime.strftime('%d %b %Y at %l:%M:%S')%></div>
		</div>
		  <div class="panel-body">
		    <%= @announcement.content %>
		  </div>
		</div>

<%= link_to "Edit", edit_announcement_path(@announcement) %>  | 
<%= link_to "Delete", announcement_path, method: :delete, data: { confirm: "Are you sure you want to delete this announcement?"} %>


