<div class="container">
  <%= form_for [@post, @comment] do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="panel panel-info">
      <div class="panel-heading">
        <strong>CONTENT</strong>
      </div>
      <%= f.text_area :content, size:"5x5", :class => "form-control", :required => true %>
    </div>

    <% if @comment.id %>
      <div class="actions"><%= f.submit  "Update Comment", class: "btn btn-default"%></div>
    <% else %>
      <div class="actions"><%= f.submit  "Add Comment", class: "btn btn-default"%></div>
    <% end %><br>

  <% end %>
</div>