<h1>Edit Your Profile</h1>

<div class="container">
  <%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
  	  <%= f.label :about, "A Few Words About Yourself" %><br>
  	  <%= f.text_field :about %>
    </div>

    <div class="field">
  	  <%= f.label :fact, "Fun Fact About You" %><br>
  	  <%= f.text_field :fact %>
    </div>

    <div class="field">
  	  <%= f.label :places, "Places You've Been To" %><br>
  	  <%= f.text_field :places %>
    </div>

    <div class="field">
  	  <%= f.file_field :image %><br><br>
    </div>

    <div class="actions"><%= f.submit "Update Profile", class: "btn btn-default"%></div>
  <% end %>

	<div class="link">
	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', :back %>
	</div>
</div>

