<p class="notice"><%= notice  %></p>
<h1>Meet Our Crew Members for the Trip to <%= @trip.place %></h1>

<hr>

<% if @invited_users.count == 0 %>
	<p>No crew members on this trip yet.</p>
<% else %>
	<% @invited_users.each do |u| %>
	  <%= image_tag u.image.url, :class => 'img-responsive profile' %>
		<h2><%= link_to "#{u.name}", user_path(u)%></h2>
		<p>About: <%= u.about %></p>
		<p>Fun Fact: <%= u.fact %></p>
		<p>Places I've Been To: <%= u.places %></p>
	<% end %>
<% end %>

<%= link_to "Invite Crew Members", new_trip_invite_path(@trip), class: "btn btn-default"  %>
